.section-content{
	background-color: #F8FAFE;
	max-width: 1500px;
	height: 1365px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-content__text{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #000000;
}
.section-content__link{
	margin-top: 20px;
}

@media (max-width: 1023px) {

	.section-content{
		max-width: 340px;
		margin: 0px 10px;
	}

	.section-content__text{
      font-size: 14px;
      line-height: 17px;
		padding: 0px 2px;
	}
}